# Archivos binarios compilados
*.exe
*.dll
*.bpl
*.dcu
*.dcp
*.map
*.rsm

# Archivos de configuración local
*.local
*.identcache
*.tvsconfig
*.stat

# Archivos de respaldo y temporales
*.~*
*.bak
*.tmp
*.log

# Archivos específicos del entorno de desarrollo
*.lck
*.groupproj.local
*.dproj.local
*.remote

# Carpetas de salida y temporales
__history/
Win32/
Win64/
Debug/
Release/
